numpy>=1.26
pandas>=2.2
tqdm>=4.66
scikit-learn>=1.4
matplotlib>=3.8

jupyter>=1.0
notebook>=7.0
ipykernel>=6.29
ipywidgets>=8.1
nbformat>=5.10

ftfy>=6.2
regex>=2024.5
git+https://github.com/openai/CLIP.git